<div class="container-fluid product-detail">
<div class="row product-details" *ngIf="productData">
<div class="col-sm-6">
    <img class="product-image" src="{{productData.image}}"> 
</div>
<div class="col-sm-6">
    <div class="details">
<h1>{{productData.name}}</h1>
<h3>Price:{{productData.price}}</h3>
<div>
    color: 
    <h5 [style.backgroundColor]="productData.color" class="product-color"></h5>
</div>
<h6>Category: {{productData.category}}</h6>
<h6>Category: {{productData.description}}</h6>
<button *ngIf="!removeCart" class="btn btn-warning custom-btn" (click)="addToCart()">Add to cart</button>
<button *ngIf="removeCart" class="btn btn-danger custom-btn" (click)="removeToCart(productData.id)">Remove to cart</button>
<button class="btn btn-info custom-btn">Buy Now</button>
<div class="counter-container">
    <div class="btn-group">
     <h3 class="counter-number">{{productQuantity}}</h3>
      <button class="btn btn-primary" (click)="handelQuantity('plus')">+</button>
      <!-- <input type="text" value="{{productQuantity}}"> -->
      <button class="btn btn-danger" (click)="handelQuantity('min')">-</button>
    </div>
  </div>
</div>
</div>
</div>
</div>