<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-12 login-form">
        <form #addProductForm="ngForm" (ngSubmit)="submit(addProductForm.value)">
          
          <h3 style="text-align: center;">Update Product</h3>
          <label style="color: blueviolet;">Product Name</label>
          <div class="mb-3">
            <input type="text" 
            class="form-control" 
             placeholder="Enter product name" 
             name="name" 
             ngModel="{{productData?.name}}">
           </div>
           <label style="color: blueviolet;">Price</label>
           <div class="mb-3">
            <input type="text" 
            class="form-control" 
             placeholder="product price" 
             name="price" 
             ngModel="{{productData?.price}}">
           </div>
           <label style="color: blueviolet;">Color</label>
           <div class="mb-3">
            <input type="text" 
            class="form-control" 
             placeholder="color" 
             name="color" 
             ngModel="{{productData?.color}}">
           </div>
           <label style="color: blueviolet;">category</label>
           <div class="mb-3">
            <input type="text" 
            class="form-control" 
             placeholder="product category" 
             name="category" 
             ngModel="{{productData?.category}}">
           </div>
           <label style="color: blueviolet;">image url</label>
        <div class="mb-3">
            <input type="text" 
            class="form-control" 
             placeholder="Enter product Image URL" 
             name="image" 
             ngModel="{{productData?.image}}">
           </div>
           <label style="color: blueviolet;">Description</label>
           <div class="mb-3">
            <textarea 
                class="form-control" 
                placeholder="Enter about product" 
                name="description" 
                ngModel="{{productData?.description}}">
            </textarea>
           <p class="message-successfull">{{productMessage}}</p>
        </div>
           <button  type="submit" class="btn btn-primary ">Update Product</button>
        </form>
      </div>
    </div>
  </div>
  